spring:
  application:
    name: statement-service
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: create-drop
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method
  api-docs:
    path: /v3/api-docs

management:
  endpoints:
    web:
      exposure:
        include: health,info
  info:
    build:
      enabled: true
    git:
      enabled: true
      mode: simple

app:
  ratelimit:
    download-link:
      limit: 10
      window-seconds: 60