<configuration>
    <springProperty scope="context" name="SERVICE_NAME" source="spring.application.name" defaultValue="statement-service"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>timestamp</fieldName>
                </timestamp>
                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>
                <pattern>
                    <pattern>{"service":"${SERVICE_NAME}"}</pattern>
                </pattern>
                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>
                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>
                <mdc>
                    <includeMdcKeyName>correlationId</includeMdcKeyName>
                </mdc>
                <message>
                    <fieldName>message</fieldName>
                </message>
                <stackTrace>
                    <fieldName>stack_trace</fieldName>
                </stackTrace>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
